.App {
  text-align: center;
  background-color: black;
  width: 100%;
  height: 100%;
}




.root-container{
  margin: 0;
  display:grid;
  height:100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px auto 60px;
  grid-template-areas:
    "nav nav nav nav"
    "mid-area mid-area mid-area mid-area"
    "footer footer footer footer";
  /* grid-gap: 0.5rem; */
  background-color:  whitesmoke;

}

.header {
  background-color: #22346A;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: -2px -2px 4px rgba(0,0,0, 0.7);
}

.home {
  background-color: white;
  grid-area: mid-area;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px;
}

.header-logo {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-logo img{
  max-width: 100%;
  max-height: 100%;
  height: 80px;
  display: block; /* remove extra space below image */
}
.navigation-list-header{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height : 100%;
}
.footer {
  /* background:#1dcae9; */
  /* background:rgb(61, 49, 46); */
  background-color: #22346A;
  border-radius: 10px;

  grid-area: footer;
  box-shadow: -2px -2px 4px rgba(0,0,0, 0.7);
  /* place-items: center;
  display: grid; */

}
.navigation-list-footer{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height : 100%;
}


.navigation-item div {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1rem;
  display: block;
  height : 100%;
  margin-left: 5px;
  margin-right: 5px;
}
.navigation-item div:hover {
  /* background-color: #555; */
  background-color:  whitesmoke;
  color: black;

}


.burger {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  align-items: center;
}
.burger .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;;
}

.simulation-container {
  margin: 10;
  display:grid;
  height:100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "title title title title title"
    "description description canvas canvas canvas";
  grid-gap: 0.5rem;
  background-color:  whitesmoke;
}

.simulation-title-container{
  grid-area: title;
  background-color:  rgb(81, 179, 166);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-content: center;
  color: black;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.7);
}



.simulation-description-container{
  grid-area: description;
  background-color:  white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.7);
  color:white;


}

.simulation-canvas-container{
  grid-area: canvas;
  /* background-color:  white; */
  background-color: black;

  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.7);
}


elastic-collision-canvas { 
  /* width: 100%;  
  min-width: 100%; 
 
  min-height: 100%;
  height: 100%;  */
} 
 



/* Cards statrts *****************/


.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0, 0.253) !important;
}

.card-body{
  padding: 3 rem 0 !important;
}

/* .card-text{
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
} */
/* Cards ends **************************/

/* Home cards start *************/
.home-card .card{
  width: 20rem;
}
.home-card .card {
  border-radius: 10px;
  height: '21rem';
  width: '18rem';
}

.home-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 120px;
}

.home-card .card-img-top {
  transform: scale;
  transition: trasform 0.5s ease;
}

.home-card .card-img-top:hover {
  transform: scale(1.8);
}
.overflow {
  overflow: hidden;

}
/* Home cards end ***********/


/* Creative programming card stars *************/
.creative-programming-card .card {
  border-radius: 10px;
  width: 20rem;
  height: 30rem;
}
.creative-programming-card .card-body {
  padding: 0px;
  overflow-y: scroll;
}
.creative-programming-card .row {
  margin:5px;
}
.creative-programming-card .card-title {
  background-color:rgb(81, 179, 166);
  min-height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding-left: 20px;
  margin: 0px;
}
.creative-programming-card .h5 {
  font-size: 2rem;
  color: white;
}



/* Creative programming card ends *************/



/* Categories cards start ***********/
.blog-categories-cards .card {
  border-radius: 10px;
  width: 20rem;
  height: 30rem;
}
.blog-categories-cards .card-body {
  padding: 0px;
  overflow-y: scroll;
}
.blog-categories-cards .row {
  margin:5px;
}
.blog-categories-cards .card-title {
  background-color:rgb(81, 179, 166);
  min-height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding-left: 20px;
  margin: 0px;
}
.blog-categories-cards .h5 {
  font-size: 2rem;
  color: white;
}
/* Cattegories cards end ************/

/* Blog card starts ***********/
.blog-card .card {
  border-radius: 10px;
  max-width: 45rem;
  height: 50rem;
}
.blog-card  .card-body {
  padding: 0px;
  overflow-y: scroll;
}
.blog-card  .row {
  margin:5px;
}
.blog-card .card-title {
  background-color: rgb(81, 179, 166);
  min-height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding-left: 20px;
  margin: 0px;
}
.blog-card .card-subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog-card .h5 {
  font-size: 2rem;
  color: white;
}

.blog-card  .h6 {
  font-size: 0.7rem;
  font-weight:inherit;
}
.blog-card .card-text {
  margin-left: 10px;
}

.blog-card .card-subtitle {
  margin-left: 10px;
}

/* Blog card ends ************/

/* About me card starts ***********/
.aboutme-card .card {
  border-radius: 10px;
  max-width: 40rem;
}
.aboutme-card .card-body {
  padding: 0px;
  overflow-y: scroll;
}

.aboutme-card .card-title {
  background-color: rgb(81, 179, 166);
  min-height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding-left: 20px;
  margin: 0px;
}

.aboutme-card .h5 {
  font-size: 2rem;
  color: white;
}

.aboutme-card .card-text {
  margin-left: 10px;
}

/* About me card ends ************/


/* Blog boxes satrts ********/
.blog-box {
  width: 50%;
  height: 50rem;
  background-color: white;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 20px;
  border-style:outset;
  border-color: red;
  
}
.blog-box:hover {
  box-shadow: 5px 10px 20px 1px rgba(0,0,0, 0.253) !important;

}

.blog-box-title {
  background-color: #63729cd7;
  margin-bottom: 10px;
  max-height: 150px;
}

.blog-box-date-info {

}

.blog-box-main-content {
  border-style: solid;
  border-color: green;
}
.blog-box-main-content > p {
  overflow-y: scroll;

}
/* Blog boxes ends ********/






@media only screen and (max-width: 700px){
  .root-container{
    margin: 0;
    display:grid;
    height:100vh;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.3fr 2fr 0.3fr;
    grid-template-areas:
      "nav"
      "mid-area"
      "footer";
    /* grid-gap: 0.5rem; */
    background-color:  whitesmoke;
  
  }


  .simulation-container {
    margin: 10;
    display:grid;
    height:100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;
    grid-template-areas:
      "title "
      "canvas"
      "description";
    grid-gap: 0.5rem;
    background-color:  whitesmoke;
  }

  .burger {
    display: flex;
  }
  .navigation-list-footer{
    flex-direction: column;
    text-align: center;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation-list-header {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .navigation-list-header {
    text-align: center;
  }
  .navigation-item {
    width: 100%;
  }

  .navigation-item div {
    padding: 0.5rem 1rem;
  }

  .navigation-item a {
    color: white;
  }

  .navigation-list-header.active {
    display: flex;
  }
  .blog-box {
    width: 80%;
    height: 80%;

  }
}










